# Git Ignore
# Updated: 8/11/17

__pycache__
*.pyc
.DS_Store
*.hdf5
*.png
*.pdb
*.tar.gz
data/interim
data/temp
test
train
logs
weights
*.binvox
.ipynb_checkpoints
*.npz
data/KrasHras/Kras
data/KrasHras/Hras
T0887
pdbs
