# Updated 20 July 2017

# Ignore compiled and swap files in the network definitions directories for
# each network run (*/*/*/*.file) as well as in the ./training_templates directory. 
*.pyc
*.swp
*/*/*/*.pyc
*/*/*/*.swp
# Ignore weights files - too big for repo
# Also ignore all network output files.
*/*/*/*.hdf5
*/*/*/*.png
*/*/*/*.json
*/*/*/*.csv
*/*/*/train_history_dict
